:root {
  --gradient: linear-gradient(
    45deg,
    #d3403b,
    #b93f2c,
    #dd7068,
    #db3327,
    #ff4e18,
    #ff3706
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
